<div class="container-fluid">
<h2 class="pdT50">Create Design</h2>
<div class="row">
    
<div class="col">
    <p>Please remember if you enter wrong info, website will populate wrong information accordingly.  Understand each field carefully and insert correct data.</p>
    <form name="create-design">
        <div class="form-group" *ngIf="(physicalImagePath==null)">
            <label class="text-success"  for="file"><strong>File</strong></label>
            <input type="file" (change)="processImageAndShow()" class="form-control" id="file">
        </div>
        <div class="form-group" *ngIf="physicalImagePath">
            <h5>Uploaded in this following place</h5>
            <a href="{{physicalImagePath}}"><span class="text-primary">{{physicalImagePath}}</span></a>
        </div>
        <div *ngIf="imageSelected">
        <div class="form-group">
            <label class="text-success"  for="type"><strong>Type</strong></label>
            <select class="form-control">
                <option *ngFor="let opt of DesignType" value="{{opt}}">{{opt}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="text-success"  for="heading"><strong>Heading</strong></label>
            <input [(ngModel)]="designItem.heading" name="heading"  type="text" class="form-control" id="heading" placeholder="Put heading of image">
        </div>
        <div class="form-group">
            <label class="text-success"  for="notes"><strong>Notes</strong></label>
            <input [(ngModel)]="designItem.notes" name="notes" type="text" class="form-control" id="notes" placeholder="Put notes of image">
        </div>
        <div class="form-group">
            <label class="text-success"  for="desc"><strong>Description</strong></label>
            <input [(ngModel)]="designItem.description" name="desc" type="text" class="form-control" id="desc" placeholder="Put description of image">
        </div>
        <div class="form-group">
            <label class="text-success"  for="colors"><strong>Colors</strong></label>
            <input [(ngModel)]="tempColorListString" (keyup)="populateListOfColors()" name="colors" type="text" class="form-control" id="colors" placeholder="Put colors in comma separated way, like #EFEED, #23EE66 ...">
        </div>
        <div class="color-box-container">
              
        </div>
        
        <div class="form-group">
            <label class="text-success"  for="colors"><strong>Tags</strong></label>
            <input type="text" class="form-control" id="tags" placeholder="Put tags in comma separated way, like #corporate, #colorful, #trendy ...">
        </div>
        <div class="form-group">
            <label class="text-success"  for="grade"><strong>Grade</strong> </label>&nbsp;&nbsp;<span><strong>{{designItem.grade}}</strong></span>
            <input [(ngModel)]="designItem.grade" name="grade" min="1" max="10" type="range" class="form-control" id="grade">
        </div>
        <div class="form-group">
            <input (click)="postToFireBase()" type="button" class="btn btn-success" value="Post" />
        </div>
        </div>
    </form>
</div>
<div class="col selected-image" >
    <div>
    <h2 *ngIf="localImageSource.length===0">No image</h2>
    <div class="btn-group">
        <a *ngIf="localImageSource.length>0 && physicalImagePath==null" class="btn btn-success" (click)="uploadImage()">Upload to Server</a>
    </div>
    <hr *ngIf="localImageSource.length>0"/>
    <img src="{{localImageSource}}" alt="locally selected image" title="Image selected locally"/>    
    
    
    
    
    </div>
</div>
</div>
</div>
