<div class="container-fluid">
<h2 class="pdT50">Create Design</h2>
<div class="row">
    
<div class="col">
    <p>Please remember if you enter wrong info, website will populate wrong information accordingly.  Understand each field carefully and insert correct data.</p>
    <form name="create-design">
        <div class="form-group" *ngIf="physicalImagePath">
            <h5>Uploaded in this following ID and URI</h5>
            <div><small class="text-success">[{{UPDATE_ID}}]</small></div>
            <a href="{{physicalImagePath}}"><small class="text-primary">{{physicalImagePath}}</small></a>
        </div>
        <div *ngIf="imageSelected">
        <div class="form-group">
            <label class="text-success"  for="type"><strong>Type</strong></label>
            <select class="form-control" name="design_type" [(ngModel)]="designItem.type">
                <option *ngFor="let opt of DesignType" value="{{opt}}">{{opt}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="text-success"  for="heading"><strong>Heading</strong></label>
            <input [(ngModel)]="designItem.heading" name="heading"  type="text" class="form-control" id="heading" placeholder="Put heading of image">
        </div>
        <div class="form-group">
            <label class="text-success"  for="notes"><strong>Notes</strong></label>
            <input [(ngModel)]="designItem.notes" name="notes" type="text" class="form-control" id="notes" placeholder="Put notes of image">
        </div>
        <div class="form-group">
            <label class="text-success"  for="desc"><strong>Description</strong></label>
            <input [(ngModel)]="designItem.description" name="desc" type="text" class="form-control" id="desc" placeholder="Put description of image">
        </div>
        <div class="form-group">
            <label class="text-success"  for="colors"><strong>Colors</strong></label>
            <input [(ngModel)]="tempColorListString" (change)="populateListOfColors()" name="colors" type="text" class="form-control" id="colors" placeholder="Put colors in comma separated way, like #EFEED, #23EE66 ...">
        </div>
        <div id="colorBoxContainer" class="color-box-container" #colorBoxContainer>
            <span title={{clr}} *ngFor="let clr of designItem.colors" class="color-box" [ngStyle]="{backgroundColor:clr}"></span>
        </div>
        
        <div class="form-group">
            <label class="text-success"  for="tags"><strong>Tags</strong></label>
            <input [(ngModel)]="tempTagListString" (focusout)="updateListOfTags()" name="tags" type="text" class="form-control" id="tags" placeholder="Put tags in comma separated way, like #corporate, #colorful, #trendy ...">
        </div>
        <div class="form-group">
            <label class="text-success"  for="grade"><strong>Grade</strong> </label>&nbsp;&nbsp;<span><strong>{{designItem.grade}}</strong></span>
            <input [(ngModel)]="designItem.grade" name="grade" min="1" max="10" type="range" class="form-control" id="grade">
        </div>
        <div class="form-group">
            <input (click)="postToFireBase()" type="button" class="btn btn-success" value="Post" />
        </div>
        </div>
    </form>
</div>
<div class="col selected-image" >
    <div>
        <h2>{{designItem.heading}}</h2>
        <div class="selected-main-image-container">    
        <img *ngIf="modfPhysicalImagePath!==null" src="{{modfPhysicalImagePath}}" alt="Selected image" />
        
        <div class="btn-container"><a class="btn btn-dark" (click)="openColorPicker()">Open Color Picker</a></div> 
        <div class="canvas-container" *ngIf="colorPickerOpen">
            <app-image-color-picker (onColorPicked)="injectSelectedColors($event)"  [physicalImagePath]="physicalImagePath"></app-image-color-picker><!--testColorPath -->
        </div>
        </div>   
    </div>
</div>
</div>
</div>


<app-design-upload [designItemToUpDate]="designItemToUpDate" [UPDATE_MODE]="UPDATE_MODE"  *ngIf="!imageSelected" (onDesignSelectionComplete)="onDesignSelectionComplete($event)"></app-design-upload>
