<div class="container-fluid">
<h2 class="pdT50">Tabular view</h2>
<div>
  <table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Heading</th>
          <th scope="col">Desc</th>
          <th scope="col">Note</th>
          <th scope="col">Tags</th>
          <th scope="col">Colors</th>
          <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Limes.jpg/339px-Limes.jpg" alt="..." class="img-thumbnail table-view"></td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      
    </tbody>
  </table>
</div>