<div class="container-fluid">
<h2 class="pdT50">Tabular view</h2>
<div>
  <table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Heading</th>
          <th width="20%" scope="col">Desc</th>
          <th scope="col">Type</th>
          <th scope="col">Note</th>
          <th scope="col">Tags</th>
          <th scope="col">Colors</th>
          <th scope="col">Grade</th>
          <th scope="col"><a href="#">Date</a></th>
          <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="designEL-row" *ngFor="let designEL of getRowPackets(); let i=index;">
        <th scope="row">{{i}}</th>
        <td><a [routerLink]="['/detail-view',designEL.id]"><img  src="{{designEL.thumb}}" alt="{{designEL.heading}}" class="img-thumbnail table-view"></a></td>
        <td><h6 class="text-success">{{designEL.heading}}</h6></td>
        <td><p>{{designEL.description}}<p></td>
        <td>{{designEL.type}}</td>
        <td>{{designEL.notes}}</td>
        <td>
          <a style="margin:2px;" class="btn btn-sm btn-dark" *ngFor="let btntext of designEL.tags">{{btntext}}</a>
        </td>
        <td>
          <span *ngFor="let clr of designEL.colors" title="{{clr}}" class="color-box" [ngStyle]="{backgroundColor:clr}"></span>
        </td>
        <td>{{designEL.grade}}</td>
        <td class="{{designEL.date}}">{{designEL.dateString}}</td>
        <td><a class="btn btn-sm btn-danger" (click)="removeDesign(designEL.id)">Delete</a></td>
      </tr>
      
    </tbody>
  </table>
  <div style="text-align:center;" *ngIf="getRowPackets().length===0">
    <br/><br/>
    <div *ngIf="FireBaseDataLoaded">
      <h3>No designs found!</h3>
      <img style="width:150px;" src="assets/empty-box.png"/>
    </div>
    <div *ngIf="!FireBaseDataLoaded">
        <img style="width:150px;" src="assets/preloader.gif"/>
    </div>
  </div>
</div>