<div class="container-fluid">
<h2 class="pdT50">Tabular view</h2>
<div>
  <table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Heading</th>
          <th scope="col">Desc</th>
          <th scope="col">Type</th>
          <th scope="col">Note</th>
          <th scope="col">Tags</th>
          <th scope="col">Colors</th>
          <th scope="col">Grade</th>
          <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr [routerLink]="['/detail-view',designEL.id]"  class="designEL-row" *ngFor="let designEL of getRowPackets(); let i=index;">
        <th scope="row">{{i}}</th>
        <td><img  src="{{designEL.file}}" alt="{{designEL.heading}}" class="img-thumbnail table-view"></td>
        <td><h6 class="text-success">{{designEL.heading}}</h6></td>
        <td>{{designEL.description}}</td>
        <td>{{designEL.type}}</td>
        <td>{{designEL.notes}}</td>
        <td>{{designEL.tags}}</td>
        <td>{{designEL.colors}}</td>
        <td>{{designEL.grade}}</td>
        <td>{{designEL.date}}</td>
      </tr>
      
    </tbody>
  </table>
</div>